<?xml version='1.0' encoding='utf-8'?>
<robot name="maxlab_ur7e">
  <material name="collision_blue">
    <color rgba="0.2 0.42 0.78 0.55" />
  </material>
  <material name="base_gray">
    <color rgba="0.55 0.56 0.58 1" />
  </material>
  <material name="robotiq_black">
    <color rgba="0.05 0.05 0.05 1" />
  </material>
  <material name="robotiq_gray">
    <color rgba="0.46 0.46 0.46 1" />
  </material>
  <material name="robotiq_pad">
    <color rgba="0.18 0.18 0.18 1" />
  </material>
  <material name="pinch_green">
    <color rgba="0.1 0.8 0.25 1" />
  </material>
  <link name="base">
    <inertial>
      <mass value="4.0" />
      <origin xyz="0 0 0" rpy="0 0 0" />
      <inertia ixx="0.00443333156" ixy="0" ixz="0" iyy="0.00443333156" iyz="0" izz="0.0072" />
    </inertial>
    <visual name="base_primitive">
      <origin xyz="0 0 0.06" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.08" length="0.12" />
      </geometry>
      <material name="base_gray" />
    </visual>
    <collision name="base_primitive">
      <origin xyz="0 0 0.06" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.08" length="0.12" />
      </geometry>
    </collision>
  </link>
  <link name="shoulder_link">
    <inertial>
      <mass value="3.7" />
      <origin xyz="0 0 0" rpy="0 0 0" />
      <inertia ixx="0.0102675" ixy="0" ixz="0" iyy="0.0102675" iyz="0" izz="0.00666" />
    </inertial>
    <visual name="shoulder_collision">
      <origin xyz="0 0 -0.04" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.06" length="0.12" />
      </geometry>
      <material name="collision_blue" />
    </visual>
    <collision name="shoulder_collision">
      <origin xyz="0 0 -0.04" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.06" length="0.12" />
      </geometry>
    </collision>
  </link>
  <joint name="shoulder_pan_joint" type="revolute">
    <parent link="base" />
    <child link="shoulder_link" />
    <origin xyz="0 0 0.163" rpy="0 0 0" />
    <axis xyz="0 0 1" />
    <limit lower="-6.28319" upper="6.28319" effort="150.0" velocity="3.141592653589793" />
  </joint>
  <link name="upper_arm_link">
    <inertial>
      <mass value="8.393" />
      <origin xyz="0 0 0.2125" rpy="0 0 0" />
      <inertia ixx="0.133886" ixy="0" ixz="0" iyy="0.133886" iyz="0" izz="0.0151074" />
    </inertial>
    <visual name="upper_arm_shoulder_collision">
      <origin xyz="0 -0.04 0" rpy="1.57079633 0 0" />
      <geometry>
        <cylinder radius="0.06" length="0.12" />
      </geometry>
      <material name="collision_blue" />
    </visual>
    <collision name="upper_arm_shoulder_collision">
      <origin xyz="0 -0.04 0" rpy="1.57079633 0 0" />
      <geometry>
        <cylinder radius="0.06" length="0.12" />
      </geometry>
    </collision>
    <visual name="upper_arm_collision">
      <origin xyz="0 0 0.2" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.05" length="0.4" />
      </geometry>
      <material name="collision_blue" />
    </visual>
    <collision name="upper_arm_collision">
      <origin xyz="0 0 0.2" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.05" length="0.4" />
      </geometry>
    </collision>
  </link>
  <joint name="shoulder_lift_joint" type="revolute">
    <parent link="shoulder_link" />
    <child link="upper_arm_link" />
    <origin xyz="0 0.138 0" rpy="0 1.57079631 0" />
    <axis xyz="0 1 0" />
    <limit lower="-6.28319" upper="6.28319" effort="150.0" velocity="3.141592653589793" />
  </joint>
  <link name="forearm_link">
    <inertial>
      <mass value="2.275" />
      <origin xyz="0 0 0.196" rpy="0 0 0" />
      <inertia ixx="0.0311796" ixy="0" ixz="0" iyy="0.0311796" iyz="0" izz="0.004095" />
    </inertial>
    <visual name="forearm_elbow_collision">
      <origin xyz="0 0.08 0" rpy="1.57079633 0 0" />
      <geometry>
        <cylinder radius="0.055" length="0.12" />
      </geometry>
      <material name="collision_blue" />
    </visual>
    <collision name="forearm_elbow_collision">
      <origin xyz="0 0.08 0" rpy="1.57079633 0 0" />
      <geometry>
        <cylinder radius="0.055" length="0.12" />
      </geometry>
    </collision>
    <visual name="forearm_collision">
      <origin xyz="0 0 0.2" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.038" length="0.38" />
      </geometry>
      <material name="collision_blue" />
    </visual>
    <collision name="forearm_collision">
      <origin xyz="0 0 0.2" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.038" length="0.38" />
      </geometry>
    </collision>
  </link>
  <joint name="elbow_joint" type="revolute">
    <parent link="upper_arm_link" />
    <child link="forearm_link" />
    <origin xyz="0 -0.131 0.425" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="-3.1415" upper="3.1415" effort="150.0" velocity="3.141592653589793" />
  </joint>
  <link name="wrist_1_link">
    <inertial>
      <mass value="1.219" />
      <origin xyz="0 0.127 0" rpy="0 0 0" />
      <inertia ixx="0.0025599" ixy="0" ixz="0" iyy="0.0025599" iyz="0" izz="0.0021942" />
    </inertial>
    <visual name="wrist_1_collision">
      <origin xyz="0 0.05 0" rpy="1.57079633 0 0" />
      <geometry>
        <cylinder radius="0.04" length="0.14" />
      </geometry>
      <material name="collision_blue" />
    </visual>
    <collision name="wrist_1_collision">
      <origin xyz="0 0.05 0" rpy="1.57079633 0 0" />
      <geometry>
        <cylinder radius="0.04" length="0.14" />
      </geometry>
    </collision>
  </link>
  <joint name="wrist_1_joint" type="revolute">
    <parent link="forearm_link" />
    <child link="wrist_1_link" />
    <origin xyz="0 0 0.392" rpy="0 1.57079631 0" />
    <axis xyz="0 1 0" />
    <limit lower="-6.28319" upper="6.28319" effort="28.0" velocity="3.141592653589793" />
  </joint>
  <link name="wrist_2_link">
    <inertial>
      <mass value="1.219" />
      <origin xyz="0 0 0.1" rpy="0 0 0" />
      <inertia ixx="0.0025599" ixy="0" ixz="0" iyy="0.0025599" iyz="0" izz="0.0021942" />
    </inertial>
    <visual name="wrist_2_collision">
      <origin xyz="0 0 0.04" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.04" length="0.12" />
      </geometry>
      <material name="collision_blue" />
    </visual>
    <collision name="wrist_2_collision">
      <origin xyz="0 0 0.04" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.04" length="0.12" />
      </geometry>
    </collision>
    <visual name="wrist_2_tip_collision">
      <origin xyz="0 0.02 0.1" rpy="1.57079633 0 0" />
      <geometry>
        <cylinder radius="0.04" length="0.08" />
      </geometry>
      <material name="collision_blue" />
    </visual>
    <collision name="wrist_2_tip_collision">
      <origin xyz="0 0.02 0.1" rpy="1.57079633 0 0" />
      <geometry>
        <cylinder radius="0.04" length="0.08" />
      </geometry>
    </collision>
  </link>
  <joint name="wrist_2_joint" type="revolute">
    <parent link="wrist_1_link" />
    <child link="wrist_2_link" />
    <origin xyz="0 0.127 0" rpy="0 0 0" />
    <axis xyz="0 0 1" />
    <limit lower="-6.28319" upper="6.28319" effort="28.0" velocity="3.141592653589793" />
  </joint>
  <link name="wrist_3_link">
    <inertial>
      <mass value="0.1889" />
      <origin xyz="0 0.0771683 0" rpy="0 0 1.57079633" />
      <inertia ixx="0.000132134" ixy="0" ixz="0" iyy="9.90863e-05" iyz="0" izz="9.90863e-05" />
    </inertial>
    <visual name="wrist_3_collision">
      <origin xyz="0 0.08 0" rpy="1.57079633 0 0" />
      <geometry>
        <cylinder radius="0.04" length="0.04" />
      </geometry>
      <material name="collision_blue" />
    </visual>
    <collision name="wrist_3_collision">
      <origin xyz="0 0.08 0" rpy="1.57079633 0 0" />
      <geometry>
        <cylinder radius="0.04" length="0.04" />
      </geometry>
    </collision>
  </link>
  <joint name="wrist_3_joint" type="revolute">
    <parent link="wrist_2_link" />
    <child link="wrist_3_link" />
    <origin xyz="0 0 0.1" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="-6.28319" upper="6.28319" effort="28.0" velocity="3.141592653589793" />
  </joint>
  <link name="tool0">
    <inertial>
      <mass value="0.01" />
      <origin xyz="0 0 0" rpy="0 0 0" />
      <inertia ixx="0.00001" ixy="0" ixz="0" iyy="0.00001" iyz="0" izz="0.00001" />
    </inertial>
    <visual name="tool0_marker">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="collision_blue" />
    </visual>
    <collision name="tool0_marker">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
    </collision>
  </link>
  <joint name="wrist_3_to_tool0" type="fixed">
    <parent link="wrist_3_link" />
    <child link="tool0" />
    <origin xyz="0 0.1 0" rpy="3.141592654 0 -1.570796327" />
  </joint>
  <link name="pinch_center">
    <inertial>
      <mass value="0.001" />
      <origin xyz="0 0 0" rpy="0 0 0" />
      <inertia ixx="0.000001" ixy="0" ixz="0" iyy="0.000001" iyz="0" izz="0.000001" />
    </inertial>
    <visual name="pinch_center_marker">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.008" />
      </geometry>
      <material name="pinch_green" />
    </visual>
  </link>
  <joint name="tool0_to_pinch_center" type="fixed">
    <parent link="tool0" />
    <child link="pinch_center" />
    <origin xyz="0 0 0.165" rpy="0 0 0" />
  </joint>
  <link name="robotiq_base">
    <inertial>
      <mass value="0.78" />
      <origin xyz="0 0 0" rpy="0 0 0" />
      <inertia ixx="0.0006370000000000001" ixy="0" ixz="0" iyy="0.0007345" iyz="0" izz="0.0007345" />
    </inertial>
    <visual name="robotiq_base">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.08 0.07 0.07" />
      </geometry>
      <material name="robotiq_black" />
    </visual>
    <collision name="robotiq_base">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.08 0.07 0.07" />
      </geometry>
    </collision>
  </link>
  <joint name="tool0_to_robotiq_base" type="fixed">
    <parent link="tool0" />
    <child link="robotiq_base" />
    <origin xyz="0 0 0.035" rpy="0 0 0" />
  </joint>
  <link name="robotiq_right_finger">
    <inertial>
      <mass value="0.04" />
      <origin xyz="0 0 0" rpy="0 0 0" />
      <inertia ixx="2.1986666666666667e-05" ixy="0" ixz="0" iyy="2.2946666666666672e-05" iyz="0" izz="2.2666666666666664e-06" />
    </inertial>
    <visual name="robotiq_right_finger">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.022 0.014 0.08" />
      </geometry>
      <material name="robotiq_gray" />
    </visual>
    <collision name="robotiq_right_finger">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.022 0.014 0.08" />
      </geometry>
    </collision>
  </link>
  <joint name="robotiq_base_to_robotiq_right_finger" type="fixed">
    <parent link="robotiq_base" />
    <child link="robotiq_right_finger" />
    <origin xyz="0 0.046 0.078" rpy="0 0 0" />
  </joint>
  <link name="robotiq_left_finger">
    <inertial>
      <mass value="0.04" />
      <origin xyz="0 0 0" rpy="0 0 0" />
      <inertia ixx="2.1986666666666667e-05" ixy="0" ixz="0" iyy="2.2946666666666672e-05" iyz="0" izz="2.2666666666666664e-06" />
    </inertial>
    <visual name="robotiq_left_finger">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.022 0.014 0.08" />
      </geometry>
      <material name="robotiq_gray" />
    </visual>
    <collision name="robotiq_left_finger">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.022 0.014 0.08" />
      </geometry>
    </collision>
  </link>
  <joint name="robotiq_base_to_robotiq_left_finger" type="fixed">
    <parent link="robotiq_base" />
    <child link="robotiq_left_finger" />
    <origin xyz="0 -0.046 0.078" rpy="0 0 0" />
  </joint>
  <link name="robotiq_right_pad">
    <inertial>
      <mass value="0.004" />
      <origin xyz="0 0 0" rpy="0 0 0" />
      <inertia ixx="1.0666666666666667e-06" ixy="0" ixz="0" iyy="1.2066666666666668e-06" iyz="0" izz="1.8266666666666666e-07" />
    </inertial>
    <visual name="robotiq_right_pad">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.022 0.008 0.056" />
      </geometry>
      <material name="robotiq_pad" />
    </visual>
    <collision name="robotiq_right_pad">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.022 0.008 0.056" />
      </geometry>
    </collision>
  </link>
  <joint name="robotiq_right_finger_to_robotiq_right_pad" type="fixed">
    <parent link="robotiq_right_finger" />
    <child link="robotiq_right_pad" />
    <origin xyz="0 -0.006 0.052" rpy="0 0 0" />
  </joint>
  <link name="robotiq_left_pad">
    <inertial>
      <mass value="0.004" />
      <origin xyz="0 0 0" rpy="0 0 0" />
      <inertia ixx="1.0666666666666667e-06" ixy="0" ixz="0" iyy="1.2066666666666668e-06" iyz="0" izz="1.8266666666666666e-07" />
    </inertial>
    <visual name="robotiq_left_pad">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.022 0.008 0.056" />
      </geometry>
      <material name="robotiq_pad" />
    </visual>
    <collision name="robotiq_left_pad">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.022 0.008 0.056" />
      </geometry>
    </collision>
  </link>
  <joint name="robotiq_left_finger_to_robotiq_left_pad" type="fixed">
    <parent link="robotiq_left_finger" />
    <child link="robotiq_left_pad" />
    <origin xyz="0 0.006 0.052" rpy="0 0 0" />
  </joint>
</robot>